---
import { Image } from "astro:assets";
---

<section>
  <Image
    width={1200}
    height={800}
    src="https://picsum.photos/1200/800"
    alt="Aparador de flores Fresia"
    class="w-full h-[80vh] object-cover object-center"
  />
</section>
