---
import { Image } from "astro:assets";
---

<section class="">
  <div class="relative w-screen h-[80vh] overflow-hidden">
    <Image
      width={1200}
      height={800}
      src="/src/assets/images/arbre_2.webp"
      alt="Aparador de flores Frèsia"
      class="w-full h-[80vh] object-cover object-center"
    />

    <nav
      class="w-full flex max-md:flex-col justify-between gap-4 absolute bottom-0 left-0 p-4 md:p-8 text-white"
    >
      <div
        class="flex gap-2 items-center p-2 w-fit bg-foreground/30 rounded-full backdrop-blur-md px-2"
      >
        <a
          href="https://www.instagram.com/floristeria_fresia/"
          target="_blank"
          rel="noopener noreferrer"
        >
          @fresia
        </a>
        <a href="tel:+654321987" target="_blank" rel="noopener noreferrer">
          654321987
        </a>
      </div>

      <div
        class="flex gap-2 items-center p-2 w-fit bg-foreground/30 rounded-full backdrop-blur-md px-2"
      >
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://maps.app.goo.gl/YnL3sy1KEZQwKZWHA"
        >
          Carrer d'En Palau, 22, Mataró
        </a>
      </div>
    </nav>
  </div>
</section>
