<section id="textSection">
  <div class="h-full mx-auto flex justify-center w-full max-w-4xl py-48">
    <div class="wrapper">
      <p
        class="white text-foreground/30 text-3xl md:text-5xl flex flex-col gap-4"
      >
        <!-- story telling de Frèsia -->
        <span>
          Aquest nadal volem ajudar-te a explicar la teva història amb flors.
        </span>
        <span>
          Deixa que les nostres creacions florals parlin per tu i transmetin els
          teus sentiments més profunds.
        </span>
      </p>
    </div>
  </div>
</section>
<section></section>

<style>
  section {
    width: 100%;
    height: 100vh;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(SplitText, ScrollTrigger);

  let split: SplitText;
  let tl: gsap.core.Timeline;

  const createSplit = () => {
    split && split.revert();
    tl && tl.revert();
    split = new SplitText(".wrapper p", {
      type: "chars",
    });

    tl = gsap
      .timeline({
        scrollTrigger: {
          trigger: "#textSection",
          start: "top top",
          end: "+=150%",
          pin: true,
          scrub: 0.75,
        },
      })
      .set(
        split.chars,
        {
          color: "#456359",
          stagger: 0.1,
        },
        0.1,
      );
  };
  createSplit();
  const debouncer = gsap.delayedCall(0.2, createSplit).pause();

  window.addEventListener("resize", () => debouncer.restart(true));
</script>
