---
import { MorphingText } from "~/shared/ui/morphing-text";
import AppearingText from "./AppearingText.astro";
const availableFlowers = [
  "Poinsettia",
  "Roses",
  "Tulipes",
  "Orquídies",
  "Lliris",
  "Gessamins",
  "Narcisos",
  "Margarides",
];
---

<section class="flex flex-col gap-10 items-center py-20 px-8">
  <header class="flex gap-4 items-center pb-20 flex-col text-5xl text-center">
    <span>Descobreix la nostra varietat en</span>
    <MorphingText
      client:load
      texts={availableFlowers}
      className="w-full text-7xl"
    />
  </header>
  <AppearingText />
</section>
