<section class="flex items-center flex-col gap-4">
  <p class="max-w-2xl px-10 text-balance text-center mx-auto">
    lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
  </p>
  <p class="max-w-2xl px-10 text-balance text-center mx-auto">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, enim
    aliquam, aut perspiciatis facilis harum vero placeat assumenda commodi eius
    vitae repellat dolo
  </p>
  <p class="max-w-2xl px-10 text-balance text-center mx-auto">
    lorem ipsum dolor sit amet consectetur adipisicing elit
  </p>
</section>
