---
import { Gift3dCard } from "./vercel-card";
import copies from "~/locales/ca.json" assert { type: "json" };
---

<section class="relative mx-auto w-full flex flex-col-reverse">
  <div class="overflow-hidden h-[90vh] bg-black">
    <Gift3dCard client:load />
  </div>
  <aside
    class="md:absolute gap-4 md:gap-8 flex flex-col md:bottom-1/2 md:left-1/2 md:text-background/90 p-6 rounded-md md:max-w-1/2"
  >
    <h2
      class="text-5xl px-4 py-1 rounded-xl xl:text-7xl text-pretty backdrop-blur-md"
    >
      {copies["gift_card.title"]}
    </h2>
    <p
      class="px-2 ml-2 py-1 rounded-xl md:text-2xl md:text-background/60 text-pretty backdrop-blur-md max-w-xl"
    >
      {copies["gift_card.desc"]}
    </p>
    <a
      href={copies["gift_card.url"]}
      target="_blank"
      rel="noopener noreferrer"
      class="self-start px-4 py-2 rounded-xl bg-pretty text-background hover:bg-pretty/90 transition-colors hover:underline backdrop-blur-md md:text-xl"
    >
      {copies["gift_card.cta"]}
    </a>
  </aside>
</section>
