---
import Hero from "~/sections/hero/Hero.astro";
import BaseLayout from "../app/layouts/base-layout.astro";
import MainProduct from "~/sections/main-product/MainProduct.astro";
import Products from "~/sections/products/Products.astro";
import Storytelling from "~/sections/storytelling/Storytelling.astro";
import CuidarPoinsettia from "~/sections/cuidar-poinsettia/CuidarPoinsettia.astro";
import GiftCard from "~/sections/gift-card/GiftCard.astro";
import Footer from "~/sections/footer/Footer.astro";
---

<BaseLayout>
	<Hero />
	<MainProduct />
	<CuidarPoinsettia />
	<Products />

	<Storytelling />
	<div class="flex flex-col md:bg-black">
		<GiftCard />
		<Footer />
	</div>
</BaseLayout>
